<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email, style: "font-weight: bold"%><br />
    <%= f.email_field :email, placeholder: "Enter email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password, style: "font-weight: bold" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Enter password", autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, style: "font-weight: bold" %><br />
    <%= f.password_field :password_confirmation, placeholder: "Repeat enter password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn, btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
