<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{asset_path('event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-both">
              <%= link_to 'Изменить', edit_event_path(@event),
                class: 'btn btn-primary buffer-x' %>

              <%= link_to 'Удалить', @event, method: :delete, data: {confirm: t('.are_you_sure')},
                class: 'btn btn-danger buffer-x' %>
            </div>
          <% end %>

        </div> <%# col-md-6 %>
      </div> <%# event-info-inner %>
    </div> <%# col-md-12 %>
  </div> <%# event-info %>

  <div class="row">
    <div class="col-md-8">
      <div class="event-comments buffer-top">
        <%= render partial: 'comments/comment', collection: @event.comments %>
      </div> <%# event-comments %>
    </div> <%# col-md-8 %>
  </div> <%# row %>
</div> <%# event %>
