<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=57835391-7ae0-4400-b950-b596cd91c7c1&lang=ru_RU" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=f84b8be6-4802-4626-a3e4-49df653656b3&lang=ru_RU" %>
    <%= javascript_include_tag "map" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%# Для вывода названия приложения используем хелпер I18n.t %>
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <% c_u = current_user.name %>
            <li class="nav-item"><%= link_to "Профиль (#{current_user.name})", current_user, :class => "nav-link" %> </li>

            <li class="nav-item"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Войти', new_user_session_path, :class => "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Зарегистрироваться', new_user_registration_path, :class => "nav-link" %></li>
          <% end %>
          </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <%= flash_messages %>
            <%= yield %>
        </div>
      </div> <!--/row-->
      <footer>
        <%# Для вывода названия компании используем хелпер I18n.t %>
        <p>&copy; <%= t 'app.company' %> 2019</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
